{% extends 'base.html.twig' %}

{% block title %}Wypożycz książkę{% endblock %}

{% block body %}
    <div class="row g-5">
        <div class="col-md-6">
            <h2>Formularz wypożyczenia</h2>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% if app.user %}
                {{ form_start(form) }}

                {{ form_row(form.itemId, {
                    label: 'Wybierz książkę'
                }) }}
                {{ form_row(form.rentFrom, {
                    label: 'Rozpoczęcie wypożyczenia'
                }) }}
                {{ form_row(form.rentTo, {
                    label: 'Zakończenie wypożyczenia'
                }) }}
                {{ form_row(form.submit, {
                    label: 'Wypożycz'
                }) }}
                {{ form_end(form) }}
            {% else %}
                <div class="alert alert-danger">
                    <p>
                        Musisz być zalogowany aby wypożyczyć ksiażkę
                    </p>
                    <p>
                        <a class="btn btn-primary" href="{{ path('app_login') }}">Zaloguj się</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
