<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BiblioConnect{% endblock %}</title>
        {% block metas %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_index') }}">BiblioConnect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_catalog_browse') }}">Katalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_catalog_rent') }}">Wypożycz książkę</a>
                        </li>
                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_rents') }}">Twoje wypożyczenia</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="d-flex">
                        {% if app.user %}
                            <a class="btn btn-secondary" href="#">Zalogowany jako {{ app.user.firstName }}</a> &nbsp;
                            <a class="btn btn-secondary" href="{{ path('app_logout') }}">Wyloguj się</a>
                        {% else %}
                            <a class="btn btn-secondary" href="{{ path('app_login') }}">Zaloguj się</a> &nbsp;
                            <a class="btn btn-secondary" href="{{ path('app_register') }}">Zarejestruj się</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">{{ block('title') }}</h1>
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Autor: Wojciech Frącala</span>
        </div>
    </footer>
    </body>
</html>
