{% extends 'base.html.twig' %}

{% block title %}Katalog{% endblock %}
{% block body %}
<div class="row g-5">
    <div class="col-md-12">
        <h2>Wypożyczenia</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if app.user.rentals.count < 1 %}
            <div class="alert alert-info">
                Nie masz aktualnie żadnych wypożyczeń
            </div>
        {% else %}
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Czas do zwrotu</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                <tbody>
                {% for position in app.user.rentals %}
                <tr>
                    <td>{{ position.id }}</td>
                    <td>{{ position.itemId.name  }}</td>
                    <td>{% for author in position.itemID.author %}{{ author.name }}{% endfor %}</td>
                    <td>{{ position.itemId.description }}</td>
                    <td>
                        {% if position.returned %}
                            <span style="color: green">Zwrócona</span>
                        {% else %}
                            {% set difference = date(position.rentTo).diff(date('now')) %}
                            {% set leftDays = difference.days %}
                            {% if leftDays == 1 %}
                                1 dzień, zwróć ksiażkę!
                            {% elseif leftDays == 0 %}
                                Czas minął, niezwołcznie zwróć książkę!
                            {% else %}
                                {{ leftDays }} dni
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-light" href="{{ path('app_book_details', {id: position.itemId.id}) }}">Szczegóły</a>
                        {% if not position.returned %}<a class="btn btn-light" href="{{ path('app_book_return', {id: position.id}) }}">Zwróć</a>{% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
